@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{ 
    margin: 0;
    padding:0 ;
}






.fondo{background-image: url(../Imagenes/fondo\ 4.jpg);
    font-family: 'Montserrat', sans-serif;
 }
 



    
   





.menu {
    padding: 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
   list-style: none;
   border: 2px solid;
   }




.imagenes{
    color: black;
    padding: 50px 0;
    display: flex;
    justify-content: space-around;

   

}
.image{
    border: solid;
    display: flex;
    justify-content:space-between;
    

}



.informacion{
    color: white;
    font-size: 25px;
}

.videos{
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/*Cards*/
.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}



.gallery-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}
.gallery__item{
    position: relative;
}

.gallery__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.gallery__item:nth-child(1){
    grid-row-start: span 2;

}

.gallery__item:nth-child(3){
    grid-row-start: span 2;

}

.gallery__item:nth-child(8){
    grid-row-start: span 2;}

    .gallery__item:nth-child(10){
        grid-row-start: span 2;}   



.footer {
    background-color: black;
}


.footer li a {
    color: rgb(253, 253, 253);
    text-decoration: none;
}

.logo-final {
    display: flex;
    justify-content: center;
}




.contacto{color: white;
display: flex;
justify-content: flex-end;
}

.logo{display: inline; 
    width: 200px;
    justify-content: flex-start;
background-image: none;}
@media ( max-width: 576px){
    .imagenes{
        display:flex;
        
    }
    .informacion{
        text-align: center;
    }
    .videos{
        display: none;
    }
    .container-card{
        display: flex;
    }


}
@media(max-width:768px){
    .imagenes{
        display:block;
        
        
    }
    .informacion{
        text-align: center;
    }
    .videos{
        display: none;
    }
    .container-card{
        display: flex;
    }


}





    



    /* Novedades */
    
    .title{
        margin: 10px;
        color: white;
        font-size: 20px;

    }
    .titulo{
        font-size: 30px;
        text-decoration: underline ;
        color: white;
    }

    .title-right{
        display:flex;
      justify-content: right;
       }
    .fecha {
       
        display: flex;
        justify-content: right;
    }

    .title-left{
        display: block;
        justify-content: left;
       }
    
    .p{ color: white;
        font-size: 25px;
        margin: 30px;
    }

    .midle{
        color: white;
        font-size: 25px;}
        

    
    



    .Novedades{
        margin: 0px ;
        display: flex;
        justify-content: space-around;
    }
    
    
    .Novedad {
        border:   1px ;
        display: flex;
        justify-content: center;

    }

    @media ( max-width: 576px){
        .p{
            
            display: none;

        }
        .midle{
            display: none;
        }

    }

    @media ( max-width: 768px){
        .p{
            display: none;
        }
        .midle{
            display: none;
        }
    }



    /* Equipos */
    
    
    .title-teams{color: white;
        font-size: 25px;
        text-decoration: underline;

    }
    
    
    

    * {

        box-sizing: border-box;
      }
    .acordeon input{
        display:none;
    }
    .acordeon__titulo{
        display: block;
        padding: 15px;
        background-color: black;
        color: white;
        font-size: 20px;
        cursor: pointer;
        border-bottom: 1px solid;
    }
    .acordeon__contenido {
        display: flex;
        justify-content: space-around;
        height: 0;
        overflow: hidden;
        margin: 0;
        transition: all 0.5s;
    }
    
    .acordeon input:checked ~ .acordeon__contenido{
        height: auto;
        margin: 15px 0;
    }
    
    
    
    .jugadores-grid{
        color: white;
        width: 100%;
        display: flex;
        justify-content: space-around;

    }

    @media ( max-width: 576px){
        .acordeon__contenido{
            display:block;
            justify-content: center;

        }

    }
    


    

    /* Eventos */
    * {

        box-sizing: border-box;
        
      }
    .acordeon2 input{
        display:none;
        
    }
    .acordeon2__titulo{
        display: block;
        padding: 10px;
        background-color:white;
        color:black;
        font-size: 20px;
        cursor: pointer;
        border-bottom: 1px solid;
    }
    .acordeon2__titulo:hover{
        background-color: gray;
    }
    
    
    .acordeon2__contenido {
        display: flex;
        height: 0;
        overflow: hidden;
        margin: 0;
        transition: all 0.5s;
        color: white;
       
        
    }
    
    .acordeon2 input:checked ~ .acordeon2__contenido{
        height: auto;
        margin: 15px 0;
    }

    @media ( max-width: 576px){
        .acordeon2__contenido{
            display: block;
            justify-content: center;
        }
    }
    

    
    
    /* rankings */
    .main-container{
        margin: 50px auto;
        width:600px;
        padding: 0px;

    }

    .ranking{
        padding: 20px;
        display: flex;
        justify-content: space-around;
    }
    table{
        background-color:white;
        text-align: left;
        width:100% ;
        border-collapse: collapse;
        
    }
    th,td{
        border: solid 1px black;
        padding:20px;

    }
    thead{
        background-color: black;
        border-bottom: solid 5px white;
        color: white ;
    }

    tr:nth-child(even){
        background-color: #ddd;
    }

    tr:hover td{
        background-color:whitesmoke;
        color: black;
    }
    @media ( max-width: 576px){
        .ranking{
            display: block;
            justify-content: center;
        }
    }

    @media ( max-width: 768px){
        .ranking{
            display: block;
            justify-content: center;
        }
    }
    
        

/* Major */

* {
    margin: 0;
    padding: 0;
}

.page-2{
    
    
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: #000000;
    

   
}




.title.font-size {
    padding: 50px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}


.container-2 {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container-2> header.container-2>.content, .container-2>.sidebar, .container>.footer, .container>div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.container-2>.header, .container-2>.fin {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.container-2>.content {
    grid-column: span 4;
    
}

.content>.article {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
}

.content .article h1,
.content .article p {
    padding: 10px;
}
 .fin{
     padding: 20px;
 }

 @media ( max-width: 576px){
    
    
    .sidebar{
        display: none;
    }
    
    .more-info{
        font-size: 10px;
    }
    .fin{
        display: none;
    }
    .img{
        display: none;
    } 
}

@media ( max-width: 768px){
    
    
    .sidebar{
        display: none;
    }
    
    .more-info{
        font-size: 10px;
    }
    .fin{
        display: none;
    }
    .img{
        display: none;
    } 
}
    


 




.page{
    width:90%;
    max-width:1000px;
    margin:20px auto ;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"principal-title principal-title principal-title"
    "information information more-info"
    "foto-1 foto-2 more-info"
    "fin fin fin"


}

.page > div,
.page .principal-title,
.page .information,
.page .more-info,
.page .fin {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    
    
}

.page .principal-title{
    background-color: rgb(117, 117, 223);
    color: white;
    grid-area: principal-title;

}

.font-size{
    font-size: 30px;
    margin: 20px;
}

.page .information{
    grid-area:information ;

}
.text{
    font-size:20px;
}


.page .more-info{
    grid-column: 3/4;
    background-color: burlywood;
    
    
    min-height: 100px;
    grid-area: more-info;
    
}
.page .foto-1,
.page .foto-2{
    
    height: 150px;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

}

.page .foto-1{
    grid-area: foto-1;
    font-size: 10px;
}

.page .foto-2{
    grid-area: foto-2;
    font-size: 10px;
}

.page .fin {
    background-color: grey;
    color: azure;
    padding: 20px;}
    
   