/* Major */

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
font-family: 'Nunito', sans-serif;
}

.page-2{
    
    
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    color: #000000;
    

   
}




.title.font-size {
    padding: 50px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

.fondo{background-image: url(/Imagenes/fondo\ 5.jpg);
    
}
.container-2 {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container-2> header.container-2>.content, .container-2>.sidebar, .container>.footer, .container>div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.container-2>.header, .container-2>.fin {
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
}

.container-2>.content {
    grid-column: span 4;
    
}

.content>.article {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
}

.content .article h1,
.content .article p {
    padding: 10px;
}
 .fin{
     padding: 20px;
 }

 @media ( max-width: 576px){
    
    
    .sidebar{
        display: none;
    }
    
    .more-info{
        font-size: 10px;
    }
    .fin{
        display: none;
    }
    .img{
        display: none;
    } 
}

@media ( max-width: 768px){
    
    
    .sidebar{
        display: none;
    }
    
    .more-info{
        font-size: 10px;
    }
    .fin{
        display: none;
    }
    .img{
        display: none;
    } 
}
    


 




.page{
    width:90%;
    max-width:1000px;
    margin:20px auto ;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(3,1fr) ;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:"principal-title principal-title principal-title"
    "information information more-info"
    "foto-1 foto-2 more-info"
    "fin fin fin"


}

.page > div,
.page .principal-title,
.page .information,
.page .more-info,
.page .fin {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    
    
}

.page .principal-title{
    background-color:black;
    color: white;
    grid-area: principal-title;

}

.font-size{
    font-size: 30px;
    margin: 20px;
}

.page .information{
    grid-area:information ;

}
.text{
    font-size:20px;
}


.page .more-info{
    grid-column: 3/4;
    background-color: orange;
    
    
    min-height: 100px;
    grid-area: more-info;
    
}
.page .foto-1,
.page .foto-2{
    
    height: 150px;;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;

}

.page .foto-1{
    grid-area: foto-1;
    font-size: 13px;
}

.page .foto-2{
    grid-area: foto-2;
    font-size: 13px;
}

.page .fin {
    background-color: black;
    color: azure;
    padding: 20px;}
    